language: python
dist: xenial
python:
  - 3.9
  - 3.10
  - 3.11
  - 3.12

cache: pip

install:
- curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py
  | python -
- source $HOME/.poetry/env
- which poetry
- poetry install -vv
- poetry show
script:
- poetry run pytest -vv ./test
before_deploy:
- poetry config http-basic.pypi $PYPI_USER $PYPI_PASSWORD
- poetry build

deploy:
  provider: script
  script: poetry publish
  on:
    python: 3.9
    repo: uc-cdis/aws-batch-jobs
    tags: true
after_deploy:
- poetry run pip install gen3git
- poetry run gen3git release

env:
  global:
  - PIPENV_IGNORE_VIRTUALENVS=1
